.nav-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px;
}

.nav-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #ccc;
    }
}
